@import '../components/primary.scss';

.blogPost {
  padding-bottom: 40px;

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1e1e1;
    font-size: 2em;
    overflow: hidden;

    img {
      width: 140%;
      margin: 0;
      max-width: unset;
    }
  }

  h1 {
    line-height: 49px;
    font-family: 'BebasNeue';
    color: $fernGreen;
    text-align: center;
    font-size: 60px;
  }
  @media(min-width: 1000px) {
    .blogImageWrapper {
      width: 25vw;
    }
  } 

  .wrapper {
    width: calc(96% - 10vmin);
    margin: 0 auto;
  }

  img {
    width: auto;
    max-width: 100%;
    margin: 10px auto;
  }



  .blogImageWrapper {
    margin: 0 auto;
  }


  @media(min-width: 470px) {
    .blogImageWrapper {
      width: 30vw;
      float: right;
      margin: 5px;
    }
  }

  @media(min-width: 1000px) {
    .blogImageWrapper {
      width: 25vw;
    }
  } 
  .blogText {
    font-family: 'montserrat-light';
  }

}