@font-face {
	font-family: 'BebasNeue';
/* Modern Browsers */
	src: url('../assets/BebasNeue-Regular.woff') format('woff'),  url('../assets/BebasNeue-Regular.ttf') format('truetype');
/* Safari, Android, iOS */
}

.textWrapper {
	color: #22783e;
	display: flex;
	font-family: sans-serif;
	font-size: 19px;
	font-weight: bold;
	margin-top: -30px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	width: calc(100% - 10vmin);
}

.weedImageWrapper {
	float: right;
	margin-top: 40px;
	width: 659px;
}

h2 {
	border-bottom: #ff9f97 12px solid;
	color: #22783e;
	font-family: 'BebasNeue';
	font-size: 48px;
	letter-spacing: 4px;
}

h3 {
	color: #22783e;
	font-family: 'BebasNeue';
	font-size: 48px;
	letter-spacing: 2px;
	a {
		color: #22783e;
		padding-top: 5px;
		text-decoration: underline;
	}
}

.sectionheadline {
	border-bottom: 1px solid #ddd;
	color: #22783e;
	font-family: 'BebasNeue';
	font-size: 38px;
	letter-spacing: 4px;
	margin-top: 11vh;
	margin: 0 0 5vmin 0;
	padding: 0 0 0.4em 0;
}

@media(min-width: 1000px) {
	.textWrapper {
		margin: 0 auto;
		text-align: left;
		width: calc(50% - 10vmin);
	}

	h2 {
		font-size: 58px;
	}
}


@media(max-width: 1000px) {	
  .weedImageWrapper {
		display: none;
	}
	h3 {
		font-size: 18px;
	}
	.sectionheadline {
		font-size: 48px;
	}
}
