
.wrapper {
  display: flex;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  font-family: sans-serif;
}

@media(min-width: 470px) {
  .wrapper {
    margin: 0 auto;
    width: calc(100% - 10vmin);  }
}


h2 {
  font-size: 30px;
  color: plum;
  margin-top:2vh;
}


@media(min-width: 1000px) {
  h2 {
    font-size: 40px;
  }
}
