.hero {
  position: relative;
  color: #fff;
  text-align: center;
  margin-top:-100px;
  z-index:500;
}

.heroImage { 
  height: 61.8vh;
  max-height: 400px;
}

.heroDetails {
  position: absolute; 
  left: 50%;
  top: 20%;
  font-family: auto;
  transform: translate(-50%, 0);
  width: 100%;
}

@media(min-width: 470px) {
  .heroHeadline {
     font-size: 88px;
  }
}

@media(min-width: 1000px) {
  .heroHeadline {
    font-size: 99px;
  }
}

.heroHeadline {
  margin: 0; 

}

.heroTitle {
  margin: 0;
  font-weight: bold;
}
