.hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
}

.heroDetails {
  position: absolute; 
  left: 50%;
  top: 12%;
  font-family: auto;
  transform: translate(-50%, 0);
  width: 100%;
}

@media(min-width: 470px) {
  .heroHeadline {
     font-size: 88px;
  }
}

@media(min-width: 1000px) {
  .heroHeadline {
    
    font-size: 99px;
  }
}

.heroHeadline {
  margin: 0; 

}

.heroTitle {
  margin: 0;
  font-weight: bold;
}
