@import "./primary.scss";

.navigation,
ul,
li,
li li {
  margin: 0;
  padding: 0;
}

.navigation {
  padding: 18px;
  padding-right: 12%;
  background: $vividTangerine;

  ul {
    display: flex;
    justify-content: flex-end;
  }

  li {
    list-style: none;
    margin: 0 30px;
    text-decoration: none;
    z-index: 1000;

    a {
      color: white;
      font-family: 'MonsterratLight';
      font-size: 25px;
      text-decoration: none;
    }
  }
}

@media(max-width: 1000px) {
  .navigation {
    padding-right: 20px;


    ul {
      display: flex;
      justify-content: center;
    }

    li {
      list-style: none;
      margin: 0 30px;
      text-decoration: none;
      z-index: 1000;

      a {
        font-size: 19px;
      }
    }
  }
}

@media(max-width: 1000px) {
  .navigation {
    li {
      a {
        font-size: 19px;
      }
    }
  }
}

.navigation a:hover {
  text-decoration: underline;
}